# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\ucu\2_course1_term\POC\programs\Herasymuk_lab_ALU_with32combinations_for_adding2 - Copy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
